
.Outline-Button{
    border:2px solid var(--primary-pink);
    padding: 10px 39px;
    border-radius:10px;
    font-size: 14px;
    background:#fff; 
    color:var(--primary-pink);
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;

}

.Outline-Button:hover{
    border:2px solid #A715C5;
    color: #A715C5;
    box-shadow:0px 4px 5px 0px rgba(0,0,0,0.1);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Outline-Button:focus{
    outline: none;
}