.Friction{
    display: flex;
    flex-direction: column;
}

.Friction-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Friction-title h1{
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    color:var(--primary-blue);
    font-weight: 300;
}

.Friction-title p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color:#313388;
    letter-spacing: 1px;
    width: 800px;
    margin:0;
}

.f-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}

.f-description{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}


.f-description h1{
    margin:0px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    color:var(--primary-blue);
    font-weight: 300;
}

.f-description p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-blue);
    width: 220px;
    line-height:25px;
    text-align: left;
    letter-spacing: 1px;
}

.f-description .f-learn{
    color: var(--primary-pink);
    font-weight: 600;
    font-size: 18px;
}

.f-learn span{
    margin-right:10px; 
    transition: .3s ease-out;
    cursor: pointer;
}

.f-learn span:hover{
    margin-right: 20px;
}


.f-image img{
    width: 650px;
    height: 423px;
}


@media (max-width: 950px){
    .f-image img{
        width: 500px;
        height: 325px;
    }

    .f-description h1{
        font-size: 32px;
        width: 200px;
    }

    .f-description p{
        font-size: 14px;
    }

}


@media (max-width: 800px){
    .f-content{
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .Friction-title h1{
        font-size: 42px;
    }

    .Friction-title p {
        width: 600px;
        font-size: 16px;
    }

    .f-image img{
        width: 650px;
        height: 423px;
    }

    .f-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .f-description h1{
        font-size: 42px;
        width: 600px;
    }
    .f-description p {
        width: 600px;
        font-size: 16px;
    }
}






@media (max-width:650px){
    .f-content{
        flex-direction: column;
        align-items: center;
    }

    .f-image img{
        width: 500px;
        height: 325px;
    }

    .f-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .f-description h1{
        width: 400px;
    }

    .f-description p {
        width: 400px;
        font-size: 16px;
    }
    

}


@media (max-width: 530px){
    .f-content{
        flex-direction: column;
        align-items: center;
    }

    .f-image img{
        width: 500px;
        height: 325px;
    }

    .Friction-title p {
        width: 450px;
        font-size: 16px;
    }

    .f-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .f-description h1{
        font-size: 32px;

    }
    .f-description p {
        width: 400px;
        font-size: 14px;
    }
    

}

@media(max-width: 375px){
    .f-image img{
        width: 350px;
        height: 228px;

    }

    .f-description{
        margin-left: 30px;
    }
    .f-description h1{
        font-size: 22px;
        margin-bottom: 10px;
        width: 300px;
    }

    .f-description p{
        font-size: 12px;
        width: 320px;
    }

    .f-description .f-learn{
        font-size: 14px;
    }

}