.Transparent{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.Trans-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Trans-title h1{
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    color:var(--primary-blue);
    font-weight: 300;
}

.Trans-title p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color:#313388;
    letter-spacing: 1px;
    width: 800px;
    margin:0;
}

.t-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 150px;
}

.t-description{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}


.t-description h1{
    margin:0px;
    margin-left:30px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    color:var(--primary-blue);
    font-weight: 300;
}

.t-description p {
    text-align: left;
    margin-left:30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-blue);
    width: 220px;
    line-height:25px;
    text-align: left;
    letter-spacing: 1px;

}

.t-description .t-learn{
    color: var(--primary-pink);
    font-weight: 600;
    font-size: 18px;
}

.t-image img{
    width: 650px;
    height: 404px;
}

.t-learn img{
    margin-left: 10px;
}

@media (max-width: 950px){
    .t-image img{
        width: 500px;
        height: 311px;
    }
    .t-description h1{
        font-size: 32px;
    }

    .t-description p{
        font-size: 14px;
    }


}


@media (max-width: 800px){
    .t-content{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .Trans-title h1{
        font-size: 42px;
    }

    .Trans-title p {
        width: 600px;
        font-size: 16px;
    }

    .t-image img{
        width: 650px;
        height: 404px;
    }

    .t-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .t-description h1{
        font-size: 42px;
        width: 500px;
        margin-left:0px; 
    }
    .t-description p {
        width: 600px;
        font-size: 16px;
        margin-left:0px; 

    }
}






@media (max-width:650px){
    .t-content{
        flex-direction: column;
        align-items: center;
    }



    .t-image img{
        width: 500px;
        height: 311px;
    }

    .Trans-title p {
        width: 500px;
        font-size: 16px;
    }

    .t-description{
        align-self: flex-start;
        margin-left: 50px;
    }
    .t-description h1{
        width: 400px;
        margin-left:0;
    }

    .t-description p {
        width: 450px;
        font-size: 16px;
        margin-left:0;
    }
    

}


@media (max-width: 500px){
    .t-content{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .t-image img{
        width: 500px;
        height: 311px;
    }

    .Trans-title p {
        width: 450px;
        font-size: 16px;
    }

    .t-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .t-description h1{
        font-size: 32px;
        margin-left:0;
        width: 400px;
    }
    .t-description p {
        width: 400px;
        font-size: 14px;
        margin-left:0;
    }

    

}