.StartCard{
    margin-top:20px;
    width: 335px;
    height:500px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: .5s ease;
    cursor: pointer;
}

.card-content h3{
    font-size: 22px;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;
    color: #313388;
}


.card-content p {
    max-width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    font-weight:300;
    line-height:30px;
    color:#313388;
}


@media (max-width: 414px){
    .StartCard{
        border:2px solid #FDEEF2;
    }
    .card-content

    .card-content h3{
        font-size: 18px;
    }
    .card-content p{
        font-size: 12px;
        margin-bottom: 40px;
    }

    .start-image img{
        width: 150px;
        height: 150px;
    }

    .start-image{
        margin-top: 40px;
    }

}

@media (max-width: 375px){
    .StartCard{
        border:2px solid #FDEEF2;
    }
    .card-content

    .card-content h3{
        font-size: 18px;
    }
    .card-content p{
        font-size: 12px;
        margin-bottom: 40px;
    }

    .start-image img{
        width: 150px;
        height: 150px;
    }

    .start-image{
        margin-top: 40px;
    }

}