.Growth{
    display: flex;
    flex-direction: column;
}

.Growth-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Growth-title h1{
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    color:var(--primary-blue);
    font-weight: 300;
}

.Growth-title p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color:#313388;
    letter-spacing: 1px;
    width: 800px;
    margin:0;
}

.g-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}

.g-description{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}


.g-description h1{
    margin:0px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    color:var(--primary-blue);
    font-weight: 300;
}

.g-description p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-blue);
    width: 220px;
    line-height:25px;
    text-align: left;
    letter-spacing: 1px;
}

.g-description .learn{
    color: var(--primary-pink);
    font-weight: 600;
    font-size: 18px;
}

.g-image img{
    width: 650px;
    height: 401px;
}

.learn img{
    margin-left: 10px;
}

@media (max-width: 950px){
    .g-image img{
        width: 500px;
        height: 308px;
    }

    .g-description h1{
        font-size: 32px;
    }

    .g-description p{
        font-size: 14px;
    }


}


@media (max-width: 800px){
    .g-content{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .Growth-title h1{
        font-size: 42px;
    }

    .Growth-title p {
        width: 600px;
        font-size: 16px;
    }

    .g-image img{
        width: 650px; 
        height: 401px;
    }

    .g-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .g-description h1{
        font-size: 42px;
    }
    .g-description p {
        width: 600px;
        font-size: 16px;
    }
}






@media (max-width:650px){
    .g-content{
        flex-direction: column;
        align-items: center;
    }



    .g-image img{
        width: 500px;
        height: 308px;
    }

    .Growth-title p {
        width: 500px;
        font-size: 16px;
    }

    .g-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .g-description p {
        width: 450px;
        font-size: 16px;
    }
    

}


@media (max-width: 530px){
    .g-content{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom:50px;
    }

    .g-image img{
        width: 500px;
        height: 308px;
    }

    .Growth-title p {
        width: 450px;
        font-size: 16px;
    }

    .g-description{
        align-self: flex-start;
        margin-left: 50px;
    }

    .g-description h1{
        font-size: 32px;
    }
    .g-description p {
        width: 400px;
        font-size: 14px;
    }
    

}