@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
:root{
  --primary-pink: #F75F81;
  --primary-blue:#313388;
}



body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

